DATABASE_URL="postgres://quacky:quackyapp@localhost:5432/quacky"
BETTER_AUTH_SECRET="your-secret-here"
BETTER_AUTH_URL="http://localhost:3001"
BETTER_AUTH_API_KEY=your-api-key
RESEND_API_KEY=your-api-key
EMAIL_FROM="Quacky <noreply@your-resend-mail-address.com>"
APP_NAME="Quacky"
APP_VERSION="v1.0.0"
APP_DESCRIPTION="Simple and open social media"
COPYRIGHT="© 2026 Linus Kang. Quacky is under CC BY-NC 4.0."
SUPPORT_EMAIL="support@your-email.com"
DISCORD_WEBHOOK_URL="your-webhook-url"
S3_ENDPOINT_URL="your-s3-url"
S3_ACCESS_KEY=your-access-key
S3_SECRET_KEY=your-secret-key
S3_REGION=your-region
S3_BUCKET_NAME=quacky
S3_PUBLIC_URL="https://your-bucket.com/quacky"
